<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldh.newpig">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewPig">
        <activity
            android:name=".kn_dien_dan"
            android:exported="true" />
        <activity
            android:name=".kn_cam_nang"
            android:exported="true" />
        <activity
            android:name=".Premium"
            android:exported="true" />
        <activity
            android:name=".kn_chi_tiet_ncc"
            android:exported="true" />
        <activity
            android:name=".kn_nhaCungCap"
            android:exported="true" />
        <activity
            android:name=".kn_call_doctor"
            android:exported="true" />
        <activity
            android:name=".kn_chi_tiet_bai_viet"
            android:exported="true" />
        <activity
            android:name=".trang_chu.TrangChu"
            android:exported="true" />
        <activity
            android:name=".DangNhap"
            android:exported="true" />
        <activity
            android:name=".DangKi"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>